[submodule "refs/opencode-antigravity-auth"]
	path = refs/opencode-antigravity-auth
	url = https://github.com/NoeFabris/opencode-antigravity-auth.git
[submodule "refs/opencode-gemini-auth"]
	path = refs/opencode-gemini-auth
	url = https://github.com/jenslys/opencode-gemini-auth
[submodule "refs/vscode-antigravity-cockpit"]
	path = refs/vscode-antigravity-cockpit
	url = https://github.com/jlcodes99/vscode-antigravity-cockpit
[submodule "refs/claude-code"]
	path = refs/claude-code
	url = https://github.com/anthropics/claude-code
