[submodule "refs/opencode-antigravity-auth"]
	path = refs/opencode-antigravity-auth
	url = https://github.com/NoeFabris/opencode-antigravity-auth.git
[submodule "refs/opencode-gemini-auth"]
	path = refs/opencode-gemini-auth
	url = https://github.com/jenslys/opencode-gemini-auth
[submodule "refs/vscode-antigravity-cockpit"]
	path = refs/vscode-antigravity-cockpit
	url = https://github.com/jlcodes99/vscode-antigravity-cockpit
[submodule "refs/claude-code"]
	path = refs/claude-code
	url = https://github.com/anthropics/claude-code
[submodule "refs/codex"]
	path = refs/codex
	url = https://github.com/openai/codex
[submodule "refs/openspec"]
	path = refs/openspec
	url = https://github.com/Fission-AI/OpenSpec
[submodule "refs/openclaw"]
	path = refs/openclaw
	url = https://github.com/openclaw/openclaw
[submodule "templates/skills"]
	path = templates/skills
	url = /home/pkcs12/projects/skills
[submodule "refs/open-pencil"]
	path = refs/open-pencil
	url = https://github.com/open-pencil/open-pencil
[submodule "refs/guard22-opencode-multi-auth-codex"]
	path = refs/guard22-opencode-multi-auth-codex
	url = https://github.com/guard22/opencode-multi-auth-codex.git
[submodule "refs/agentmemory"]
	path = refs/agentmemory
	url = https://github.com/rohitg00/agentmemory
